<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <title>Search for words</title>
    <style>
      /* Body: blue, helvetica text */
      body {
        background-color: #06A533;
        font-family: Helvetica, sans-serif;
      }

      /* Main div: centered, white bg, 1px black border */
      #main {
        max-width: 500px;
        min-width: 500px;
        background-color: #fff;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        border: 1px solid #000;
        min-height: 90vh;
      }

      /* h2: small caps Arial */
      h2 {
        font-variant: small-caps;
        font-family: Arial, sans-serif;
        font-size: 16px;
        text-indent: 10px;
        margin-top: 40px;
      }
      p {
        text-indent: 30px;
      }

      form p {
        text-align: center;
      }
      form table {
        margin-right: auto;
        margin-left: auto;
      }
      form button {
        color: #000;
        background-color: #fff;
        border: 3px #000 solid;
        padding: 7px;
      }
      form button:hover {
        border: 3px #06A533 solid;
      }

      a:link {
        text-decoration: none;
        color: #000;
      }
      a:visited {
        text-decoration: none;
        color: #000;
      }
      a:hover {
        text-decoration: none;
        color: #06A533;
      }

    </style>
  </head>
  <body>
    <div id="main">
      <form action="/search" method="get">
        <table>
          <tr>
            <td><label for="beginsWith">Begins with: </label></td>
            <td><input type="text" id="beginsWith" name="beginsWith"/></td>
          </tr>
          <tr>
            <td><label for="endsWith">Ends with: </label></td>
            <td><input type="text" id="endsWith" name="endsWith"/></td>
          </tr>
          <tr>
            <td><label for="lengthIs">Length:</label></td>
            <td><input type="number" id="lengthIs" name="lengthIs"/></td>
          </tr>
        </table>

        <p><button type="submit">Submit</button></p>
      </form>

      <h2>Looks like you asked for the following things</h2>
      {{#each query}}
      <p>{{@key}}: {{this}}</p>
      {{/each}}

      <h2>Words matching your query</h2>
      {{#each wordList}}
      <p>{{#word}}{{this}}{{/word}}</p>
      {{/each}}
    </div>
  </body>
</html>
